* {
    margin: 0;
    padding: 0;

}

body {
    background: #DEDEDE;
    text-align: center;
}


h1 {
    color: #777;
    font-family: sans-serif;
    margin: 75px 0px;
    font-size: 4em;
}

video {
    width: 450px;
}
